<div class="container backgroud-login">
  <div class="row">
    <div class="box-login">
      <form action="">
        <div class="content-login">
          <img src="../../../assets/img/user.svg" alt="" class="img-login">
          <input type="text" placeholder="Usuário" class="box-login-input-user">
          <input type="text" placeholder="Senha" class="box-login-input-password">
          <button class="btn-login" [routerLink]="['/clientes']">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>